<!DOCTYPE html>
<html dir="rtl">
<head>
  <title>WorldCup2014</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>

<%= yield %>

<div class="ui inverted segment footer">
  <p><%= link_to 'Rubywebit', 'http://rubywebit.com', target: '_blank' %></p>
  <p>Source code is available on <%= link_to 'https://github.com/abmahmoodi/world_cup_2014',
                                             'https://github.com/abmahmoodi/world_cup_2014', target: '_blank' %></p>
</div>
</body>
</html>
